@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

.html {
    font-family: 'Fredoka', sans-serif;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

#header {
    background-color: #a17e4b;
    color: #572824;
    font-size: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: auto;
    width: 100vw;
    height: 10rem;
    line-height: 0%;
}

#button-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.game-button {
    display: flex;
    flex-flow: row nowrap;
    width: 150px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: #fbcc5f;
    color: #3c5453;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 550;
}

/* CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE */

#body {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 80vh;
    flex: auto;
    margin: auto;
}

#center-console {
    background-color: #3c5453;
    display: flex;
    flex-flow: column wrap;
    width: 100rem;
    height: 80vh;
    justify-content: flex-start;
    align-items: center;
}

.player-card {
    background-color: #fbcc5f;
    display: flex;
    flex-flow: column wrap;
    width: 30rem;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.player-icon {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

.player-name-text, .game-tracker-text, .player-quote-text {
    font-size: 2rem;
    color: #572824;
    font-weight: 500;
}

.player-quote-text {
    display: none;
}

/* GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD */

#game-board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 70vh;
    width: 45vw;
    border-radius: 5%;
    background-color: #a17e4b;
}

.game-box {
    width: 220px;
    height: 190px;
    border-radius: 5%;
    border: 3.5px solid #572824;
}

/* GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM */

#game-start-container {
    position: absolute;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    color:#572824;
    background-color: #a17e4b;
    width: 100vw;
    height: 75vh;
    padding-top: 7.5%;
    border: solid #a17e4b;
    background: #fbcc5f 50%/ cover 
                    border-box /* background-origin */
                    padding-box /* background-clip */;
}

#close-game-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#close-circle-svg {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 2.3rem;
    height: 2.3rem;
    filter: invert(14%) sepia(14%) saturate(3800%) hue-rotate(326deg) brightness(97%) contrast(85%);
}

#game-setup-header-text {
    display: flex;
    font-size: 2rem;
}

#game-start-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 900;
    font-size: 1.1rem;
    background-color: #a17e4b;
    height: 50vh;
    width: 50vh;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #fbc362;
    line-height: 100%;
}

.radio-button-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

#player-vs-player #player-vs-computer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.player-inputs {
    display: flex;
    height: 30px;
    gap: 20px;
    padding-bottom: 5px;
}

.form-text-input {
    background-color:#572824;
    color: #fbc362;
    font-size: 18px;
    font-weight: 700;
}

#submit-game-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: #572824;
    background-color: #fbcc5f;
    font-weight: 900;
    font-size: 0.8rem;
    border-radius: 5px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a17e4b;
    color: #572824;
    text-align: center;
}