@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

.html {
    font-family: 'Fredoka', sans-serif;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

#header {
    background-color: #ebbab9;
    color: #698996;
    font-size: 2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin: auto;
    width: 100vw;
    height: 10rem;
    line-height: 0%;
}

#button-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.game-button {
    display: flex;
    flex-flow: row nowrap;
    width: 150px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: #c9c5ba;
    color: #698996;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 550;
}

/* CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE CENTER-CONSOLE */

#body {
    background-color: #97b1a6;
    color: #c9c5ba;
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 80vh;
    flex: auto;
    margin: auto;
}

#center-console {
    background-color: #c9c5ba;
    display: flex;
    flex-flow: column wrap;
    width: 100rem;
    height: 80vh;
    justify-content: flex-start;
    align-items: center;
}

.player-card {
    background-color: #407076;
    display: flex;
    flex-flow: column wrap;
    width: 30rem;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.player-icon {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

.player-name-text, .game-tracker-text, .player-quote-text {
    font-size: 1.5rem;
    color: #c9c5ba;
    font-weight: 500;
}

.player-quote-text {
    display: none;
}

/* GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD GAMEBOARD */

#game-board {
    display: grid;
    height: 50vh;
    width: 35vw;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #97b1a6;
    border: solid 2px 2px black;
    gap: 15px;
}

.game-box {
    width: 0.1fr;
    height: 0.1fr;
    color: #ebbab9;
}

/* GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM GAME-START-FORM */

#game-start-container {
    position: absolute;
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    background-color: #698996;
    color: #ebbab9;
    width: 100vw;
    height: 75vh;
    padding-top: 7.5%;
    border: solid #698996;
    background: url(./imgs/background-form-img.jpg) 50%/ cover 
                    border-box /* background-origin */
                    padding-box /* background-clip */;
}

#close-game-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#close-circle-svg {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 2.3rem;
    height: 2.3rem;
    filter: invert(81%) sepia(19%) saturate(465%) hue-rotate(314deg) brightness(96%) contrast(92%);
}

#game-setup-header-text {
    display: flex;
    font-size: 2rem;
}

#game-start-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 900;
    font-size: 1.1rem;
    background-color:#698996;
    height: 50vh;
    width: 50vh;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px #407076;
    line-height: 100%;
}

.radio-button-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}

#player-vs-player #player-vs-computer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.player-inputs {
    display: flex;
    height: 30px;
    gap: 20px;
    padding-bottom: 5px;
}

.form-text-input {
    background-color: #c9c5ba;
}

#submit-game-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: #407076;
    background-color: #c9c5ba;
    font-weight: 900;
    font-size: 0.8rem;
    border-radius: 5px;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ebbab9;
    color: #698996;
    text-align: center;
}